django
django-debug_toolbar
whitenoise
icecream
isort
jalali_core
jaraco.classes
jdatetime
jedi
jeepney
Jinja2
mypy
mypy-extensions
pillow
ply
PyJWT
pylsp-mypy
pylsp-rope
pynvim
pyparsing
PyQt5
PyQt5-sip
PySide6
PySocks
pysvn
python-dotenv
python-lsp-black
python-lsp-isort
python-lsp-jsonrpc
python-lsp-server
python-xlib
pytoolconfig
PyYAML
virtualenv
websockets
wheel
