{% extends 'trade/layout.html' %} <!-- we want to use a layout -->
{% load static %} <!-- this will let us to use static -->
{% load i18n %} <!-- to use {% trans 'something' %} -->
{% block js_head %}
  <script>

  </script>
{% endblock %}
{% comment %} the top sectoin of the position box {% endcomment %}
{% block trade_top_position %}
  <script>
    // window.risk = {{ risk }} 

    async function get_risk(broker, symbol){
      const url = "{% url 'api_risk' %}?broker="+broker+"&symbol="+symbol
      return await fetch(url,{
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        }
      }).then(response => response.json()).then(data => {
        window.risk = data
        console.log("data from server is ", data)
        return data
      }).catch(error => console.error("Error:", error));
    }

    async function get_commission(symbol, broker){
      const url = "{% url 'api_commission' %}?symbol="+symbol+"&broker="+broker
      return await fetch(url,{
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        }
      })
        .then(response => response.json()).then(data => {
          window.commission = data
          console.log("data from server is ", data)
          return data
        })
        .catch(error => console.error("Error:", error));
    }


    async function compute_amount(input) {
      const entry = new Decimal(document.getElementsByName('entry')[0].value || 0)
      const stop = new Decimal(document.getElementsByName('stop')[0].value || 0)
      const target = new Decimal(document.getElementsByName('target')[0].value || 0)
      const amountel = new Decimal(document.getElementsByName('amount')[0].value || 0)
      const symbol = document.getElementsByName('symbol')[0].value
      const broker = document.getElementsByName('broker')[0].value
      const stop_percent = entry.minus(stop).dividedBy(entry).times(new Decimal(100))
      const risk = await get_risk(broker, symbol)
      const rr = target.minus(entry).dividedBy(entry.minus(stop)).toFixed(4)
      document.getElementsByName('riskReward')[0].value = rr
      const commission = await get_commission(symbol, broker)
      document.getElementsByName('commission')[0].value = commission
      let amount = new Decimal(risk).dividedBy((stop_percent.plus(commission).dividedBy(new Decimal(100))))
      document.getElementsByName('amount')[0].value = amount.toFixed(4) 
      // console.log('risk is: ', risk, "type of risk is :", typeof (risk), ' and commission is: ', commission)
      // console.log(amount.toFixed(4), stop_percent.toFixed(4))
    }

    const brokers_of_user = {{ list_of_brokers_of_user | safe }};


    function handleSelectChange(selectElement) {
      // Get the selected option 
      const selectedOption = selectElement.options[selectElement.selectedIndex];

      // Convert the text and value of the selected option to lowercase
      selectedOption.text = selectedOption.text.toLowerCase();
      selectedOption.value = selectedOption.value.toLowerCase();
      let d = null;
      brokers_of_user.forEach(broker => {
        if ((broker.name == selectedOption.value) && (d === null))
        {
          d = broker.balance.toFixed(4)
        }
      });
      document.getElementById("bal").innerHTML = d
    }
  </script>
  <form id="dataform" class="card-body needs-validation" action={% url 'balance_commit' %} method="post" novalidate>
    {% csrf_token %}
    <div class="container d-flex">
      <div class="row">
        <div class="mb-3">
          <label for="balance" class="form-label">{% trans "Enter the balance you want to add or remove." %}</label>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon3">[+/-] {% trans "Money" %}</span>
            <input name="balance" type="text" class="form-control" id="balance" aria-describedby="basic-addon3 basic-addon4" autofocus required>
            <div class="invalid-feedback">
              {% trans "Please provide a valid -/+ balance." %}
            </div>
          </div>
          <div class="form-text" id="basic-addon4">{% trans "The currency is your default currency at the broker." %}</div>
        </div>
        <div class="mb-3">
          <label for="broker" class="form-label">{% trans "Select your broker." %}</label>
          <select name='broker' id="broker" placeholder="" onchange="handleSelectChange(this);" class="form-select" required>
            <option selected></option>
            {% for b in brokers %}
              <option id="{{b.name}}" value="{{b.name}}">{{b.name}}</option>
            {% endfor %}
          </select>
          <div class="invalid-feedback">
            {% trans "Please select a broker." %}
          </div>
        </div>
        <div class="col-12 w-100">{% trans "Account balance" %} : <span id="bal">{{ user_broker.balance }}</span></div>
        <button class="btn btn-primary w-100 mt-3">{% trans "Save" %}</button>
      </div>
    </div>
  </form>
{% endblock %}

{% comment %} Positoin box {% endcomment %}
{% block trade_position_content %}

{% endblock %}

{% comment %} the bottom sectoin of the postion box {% endcomment %}
{% block trade_bot_position %}
  <div class="row d-flex text-center">
    <div class="col text-center">
      {% if msg is not None %} 
        <div class="alert alert-success m-0">{% trans "Balance Saved." %}</div>
      {% else %}
        <div class="alert alert-danger m-0">{% trans "Balance Not Saved Yet." %}</div>
      {% endif %}
    </div>
  </div>
{% endblock %}


