{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% comment %} <script src="{% static 'trade/tailwind.js' %}"></script> {% endcomment %}
    <script src="{% static 'trade/jquery-3.7.1.min.js.js' %}"></script>
    <script src="{% static 'trade/decimal.js' %}"></script>
    <link href="{% static 'trade/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script type="module">
      import Decimal from "{% static 'trade/decimal.mjs' %}";
    </script>
    {% comment %}
      {% if viewname == "new" %} 
      {% endif %}
    {% endcomment %} 
    {% block js_head %}{% endblock %}
  </head>

  <body class="container-fluid d-flex flex-column min-vh-100 opacity-75">
    <header id="pageHeader" class="container-fluid mt-2">
      <form class="row g-1 input-group" action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <div class="col-2">
          <select class="form-select" name="language">
            <option value="en">{% trans "En" %}</option>
            <option value="fa">{% trans "Fa" %}</option>
          </select>
        </div>
        <div class="col-auto me-auto">
          <button class="btn btn-primary" type="submit">{% trans 'Change Language' %}</button>
        </div>
        <div class="col-auto align-self-center ms-auto">Hello World</div>
      </form>
    </header>
    <hr class="mb-2">
    <div class="flex-grow-1 d-flex h-100"> <!-- Added this wrapper -->
      <div class="row w-100 mx-auto">
        <article id="mainArticle" class="col-3 d-flex align-self-start">{% trans 'Calculator' %}</article>
        <nav id="mainNav" class="col-9 align-self-center card">

          <div class="card-header text-center">
            {{ title }}
          </div>
          {% block trade_top_position %}{% endblock %}
          {% block trade_position_content %}{% endblock %}

          <div class="card-footer text-body-secondary">

            {% block trade_bot_position %}{% endblock %}
          </div>
        </nav>
      </div>
      <hr class="mt-2 align-self-end">
    </div>


    {% block trade_index_content %}{% endblock %}
    <hr class="mt-2">
    <footer id="pageFooter" class="mt-auto">{% trans 'Footer' %}</footer>
    <script>
      function validateForm()
      {
        // Get all input elements in the form
        const inputs = document.querySelectorAll('input');

        // Loop through each input
        inputs.forEach(function(input) {
          // If the input is empty, set its value to the placeholder
          if (!input.value) {
            // console.log(input.value)
            input.value = input.placeholder;
          }
        });

        // Now submit the form after updating the input values
        return true;
      }
      /* BELOW IS BOOTSTRAP VALIDATION */
      (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
          form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }

            form.classList.add('was-validated')
          }, false)
        })
      })()
    </script>
    <script src="{% static 'trade/bootstrap.bundle.min.js' %}"></script>
    {% comment %} 
      <script src="{% static 'trade/trade.js' %}"></script>
    {% endcomment %}
  </body>

</html>
