{% extends 'trade/layout.html' %} <!-- we want to use a layout -->
{% load static %} <!-- this will let us to use static -->
{% load i18n %} <!-- to use {% trans 'something' %} -->
{% block js_head %}
  <script>
    window.ub = null
    /* Share codes between form1 and form2 */
    $(document).ready(function(){
      try
      {
        document.getElementById('broker').selectedIndex = 0;
        document.getElementById('form1').reset();
        document.getElementById('form2').reset();
        $("#form1 input").keyup(compute_amount_form1)
        $("#form2 input").keyup(compute_amount_form2)
      }
      catch (err){
      }
    });
  </script>
{% endblock %}

{% block trade_top_position %}
  {% include "trade/new_top.html" %}
{% endblock %}

{% block trade_position_content %}
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Stop% and RiskReward Ratio
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          {% comment %}
            stop loss + risk reward
          {% endcomment %}
          {% block form1 %}
            {% include "trade/new_form1.html" %}
          {% endblock %}
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Stop, Entry, and Target Price
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          {% comment %}
            Entry + Stop + Target
          {% endcomment %}
          {% block form2 %}
            {% include "trade/new_form2.html" %}
          {% endblock %} 
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% comment %} the bottom sectoin of the postion box {% endcomment %}
{% block trade_bot_position %}
  {% include "trade/new_bot.html" %}
  <script>
  {% include "trade/new_form1.js" %}
  {% include "trade/new_form2.js" %} 
  </script>
{% endblock %}


