{% load static %} <!-- this will let us to use static -->
{% load i18n %} <!-- to use {% trans 'something' %} -->
{% block trade_top_position %}
  <script>
    function get_all(broker=null, symbol=null) {
      symbol2 = document.getElementById('form2_symbol').value
      symbol1 = document.getElementById('form1_symbol').value
      if (!symbol1 && !symbol2) return 
      symbol = (!symbol2) ? symbol1 : symbol2
      const url = "{% url 'api_all' %}"
      $.ajax({
        url: url,
        method: 'GET',
        async: false,
        contentType: 'application/json',
        data: { "broker": broker, "symbol": symbol },
        success: function(response) {
          // Store in global variable
          window.ub = {}
          window.ub.balance = new Decimal(response.balance) 
          window.ub.defined_reserve = new Decimal(response.defined_reserve)
          window.ub.risk_percent = response.risk_percent
          window.ub.reserve_percent = response.reserve_percent
          window.ub.reserve = new Decimal(response.reserve)
          window.ub.available = new Decimal(response.available)
          window.ub.risk = new Decimal(response.risk)
          window.ub.commission = new Decimal(response.commission) 
        },
        error: function(xhr, status, error) {
          window.ub = null
          console.log("Couln't fetch the data from server: ", error)
        }
      });
    }

    function remain_reserve_percent(){
      return (ub.reserve / ub.defined_reserve) * 100
    }

    function handleSelectChange(selectElement) {
      // Get the selected option
      let selectedOption = selectElement.options[selectElement.selectedIndex];
      // Convert the text and value of the selected option to lowercase
      selectedOption.text = selectedOption.text.toLowerCase();
      selectedOption.value = selectedOption.value.toLowerCase();
      try {
        if (!selectedOption.value) return; // Exit if no broker selected
        get_all(selectedOption.value)

        document.getElementById("form1_broker").value = selectedOption.value;
        document.getElementById("form2_broker").value = selectedOption.value;
        document.getElementById("place-balance").innerHTML = ub.balance
        document.getElementById("place-reserve").innerHTML = ub.reserve
        document.getElementById("place-available").innerHTML = ub.available

        document.getElementById("progress-reserve").setAttribute("style", "width:" + remain_reserve_percent() +"%")
        document.getElementById("progress-reserve").innerHTML = remain_reserve_percent() +"%"
        compute_amount_form1(null)
        compute_amount_form2(null)
      }
      catch (e){
        document.getElementById("place-balance").innerHTML = 0
        document.getElementById("place-reserve").innerHTML = 0
        document.getElementById("place-available").innerHTML = 0
        document.getElementById("progress-reserve").setAttribute("style", "width:"+ 0 +"%")
        document.getElementById("progress-reserve").textContent = "0 %"
        document.getElementById('form1_commission').value = 0
        document.getElementById('form2_commission').value = 0
        document.getElementById('form1_amount').value = 0
        document.getElementById('form2_amount').value = 0
        compute_amount_form1(null)
        compute_amount_form2(null)
        console.log("this is why we can't continue", e)
      }
    }
  </script> 
  <pre class="px-1 py-0 m-2 text-center">{% trans "Reserve" %}: <span class="m-0" id="place-reserve"></span></pre>
  <div class="progress m-0 align-middle" role="progressbar" aria-label="" aria-valuemin="0" aria-valuemax="100">
    <div id="progress-reserve" class="progress-bar progress-bar-striped progress-bar-animated bg-info align-middle fs-6 font-monospace m-0 p-0" style="width: 0%"></div>
  </div>

  <pre class="px-1 py-0 mt-2 mb-0 text-center">{% trans "Balance" %}: <span class="m-0" id="place-balance"></span></pre>
  <pre class="px-1 py-0 mt-2 mb-0 text-center">{% trans "Balance for trade" %}: <span class="m-0" id="place-available"></span></pre>
  <div class="mb-3">
    <label for="broker" class="form-label">{% trans "Select your broker." %}</label>
    <select name='broker' id="broker" onchange="handleSelectChange(this)" class="form-select" required>
      <option selected></option>
      {% for b in broker %}
        <option id="{{b.name}}" value="{{b.name}}">{{b.name}}</option>
      {% endfor %}
    </select>
    <div class="invalid-feedback">
      {% trans "Please select a broker." %}
    </div>
  </div>
{% endblock %}


